
@font-face {
    font-family: gilroybold;
    src: url(./fonts/Gilroy-Bold.otf);
}

@font-face {
    font-family: eo;
    src: url(./fonts/earthorbitertitle.ttf);
}

@font-face {
    font-family: gilroymedium;
    src: url(./fonts/Gilroy-Medium.otf);
}

@font-face {
    font-family: gilroysemibold;
    src: url(./fonts/Gilroy-Semibold.otf);
}

@font-face {
    font-family: moranga;
    src: url(./fonts/moranga.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;


}

body::-webkit-scrollbar {
    background: transparent;
}

body::-webkit-scrollbar-track {
    background-color: rgb(65, 211, 237);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: 8px;
    border: 3px solid rgb(65, 211, 237);

}


#page1 {
    height: 100%;
    width: 100%;
    background-color: black;
}

nav {
    background: transparent;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vh;
}

nav #logo {
    color: cyan;
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: eo;
    font-weight: 300;


}

nav a {
    text-decoration: none;
    color: cyan;
    border: 1px solid #fff;
    padding: 0.5vw 1vw;
    border-radius: 25px;
    font-size: 1vw;
    font-family: gilroymedium;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    border-color: #0d6efd;
    border: 0.5px solid #fff;
}

#page1 img {
    border: 2px solid rgb(65, 211, 237);
    box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 15px cyan;
    border-radius: 25px;
    position: relative;
    top: 15%;
    left: 29%;
    height: 32vw;
    filter: grayscale(1);
}

#page1 img:hover {
    filter: grayscale(0);
}

/* PAGE 1 RESPONSIVE NESS */
@media(max-width:1240px) {
    nav {
        padding: 2vw;
    }

    #page1 img {
        top: 60vw;
        left: 11vw;
        height: 60vw;
    }

    #logo h1 {
        font-size: 4.5vw;

    }

    nav a {
        color: #fff;
        border: 0.5px solid #fff;
        padding: 2vw 3vw;
        border-radius: 25px;
        font-size: 2vw;
        text-transform: uppercase;
        font-weight: 800;
        font-family: gilroymedium;
        background: rgba(0, 255, 255, 0.959);
    }

}

@media(max-width:768px){
    #page1 img {
        top: 50vw;
        left: 11vw;
        height: 60vw;
    }

}
/* page2 */

#page2 {
    padding-left: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: start;
    background: #000;
    color: white;
    overflow: hidden;
}
#midfont{
    text-align: center;
}

#page2 h1 {
    text-transform: uppercase;
    font-family: moranga;
    font-size: 30vw;
    white-space: nowrap;
    font-stretch: 200%;
}

@media(max-width:600px){
    #page2{
        padding-top: 50%;
    }
}

/* page3 */

#page3 {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

}

#page3 h1 {
    font-weight: 600;
    font-family: moranga;
    font-size: 3vw;
}

/* PAGE 3 RESPONSIVENESS */

@media(max-width:1240px) {
    #page3 h1 {
        font-size: 7vw;

    }

    #page3 {
        padding-top: 8vh;
        padding-left: 1vh;
        display: flex;
        align-items: center;
        justify-content: left;
        align-items: baseline;


    }

}
/* @media(max-width:768px){
    #page3 h1{
        font-size: 5vw  ;
    }
    #page3{
        padding-top: 0vh;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #midfont{
        padding-top: 0.5vh;
    }
} */

/* PAGE 4 STARTED FROM HERE  */

#page4 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw 1vw;
    height: 100%;
    width: 100%;
    background: #333333;
}

#page4 h1 {
    color: #fff;
    font-family: gilroybold;
    font-size: 6vw;
}

#page4 h2 {
    color: #fff;
    font-family: gilroybold;
    font-size: 2vw;
}

#page4 h1 span {
    color: rgb(56, 205, 250);
    font-family: gilroybold;
    font-size: 6vw;
}

#p4-mid #img {
    padding: 2vw;
    display: flex;
    gap: 3vw;

}

#p4-mid button {
    padding: 1vw 2vw;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: 800;
    font-family: gilroybold;

}



#p4-mid #img img {
    height: 12vh;
    aspect-ratio: 3/2;
    object-fit: contain;
    background: #fff;
    mix-blend-mode: lighten;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;


}

#p4-botm {
    gap: 1vw;
}

#p4-botm #imgp4 {
    padding: 2vw;
    display: flex;
    gap: 3vw;
}

#p4-botm #imgp4 img {
    height: 12vh;
    aspect-ratio: 3/2;
    object-fit: contain;
    background: #fff;
    mix-blend-mode: lighten;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;

}

#p4-botm button {
    padding: 1vw 2vw;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: 800;
    font-family: gilroybold;
}

/* PAGE4 RESPONSIVENESSSSSS */

@media(max-width:600px) {
    #page4 {
        justify-content: left;
        padding-top: 60%;
        height: 100vh;
        background-color: #333333;
    }

    #p4-botm button {
        padding: 1vw 2vw;
        background: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        font-size: 2vw;
        font-weight: 800;
        font-family: gilroybold;
    }

    #p4-mid button {
        padding: 1vw 2vw;
        background: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        font-size: 2vw;
        font-weight: 800;
        font-family: gilroybold;

    }

    #p4-mid #img img {
        height: 4.5vh;
        aspect-ratio: 3/2;
        object-fit: contain;
        background: #fff;
        mix-blend-mode: lighten;
        border: 1px solid white;
        border-radius: 12px;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff;

    }

    #p4-botm #imgp4 img {
        height: 4.5vh;
        aspect-ratio: 3/2;
        object-fit: contain;
        background: #fff;
        mix-blend-mode: lighten;
        border: 1px solid white;
        border-radius: 12px;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff;

    }

    #page4 h1 {
        color: #fff;
        font-family: gilroybold;
        font-size: 8vw;
    }

    #page4 h2 {
        color: #fff;
        font-family: gilroybold;
        font-size: 4vw;
    }

    #page4 h1 span {
        color: rgb(56, 205, 250);
        font-family: gilroybold;
        font-size: 8vw;
    }


}

/* project page started  */

#pr-page {
    padding: 1vw 1vw;
    height: 100%;
    width: 100%;
    background: #333333;
    display: flex;
    flex-direction: column;

}

#pr-page span {
    font-family: moranga;
    color: red;
}

#pr-page h1 {

    color: #fff;
    font-size: 5vw;
    font-weight: 400;
    font-family: gilroybold;

}

#pr-page h2 {

    color: #fff;
    font-size: 2vw;
    font-family: gilroymedium;

}

#list-projects {
    border: 1px solid white;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
    border-radius: 10px;
    background:#51cde7;    ;
    height: 70vh;
    width: 80%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2vw;
    margin-left: 10%;
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#project-img {
    height: 20vh;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-img h4 {
    font-family: gilroysemibold;
    color: #000;
    font-weight: 500;
}

#project-img a {
    font-family: gilroymedium;
    font-size: 1vw;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5vh 2vh;
    color: white;
    background: #51cde7;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
}

#project-img a:hover {
    background: #fff;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}


#project-img img {
    border-radius: 10px;
    height: 13vw;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    transition: 0.4s all ease-in-out;

}

#project-img img:hover {
    transform: scale(1.2);
}

/* project page-responsive-ness */

@media(max-width:600px) {
    #pr-page {
        justify-content: center;
        align-items: center; 
        padding-top: 3vw;      
        
        gap: 1vw;

    }

    #list-projects {
        width: 100%;
        height: 85vh;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        padding: 1vw;
        gap: 0;
        background: none;
        border: none;
        box-shadow: none;


    }
    #project-img {
        height: 20vh;
    }

    #project-img img {
        height: 18vh;
        gap: 4vw;
        box-shadow: 0 0 10px cyan;
        border: 2px solid cyan;
    }

    #project-img img:hover {
        transform: scale(1.05);
    }

    #pr-page h1 {
        padding: 0;
        color: #fff;
        font-size: 8vw;
        font-weight: 400;
        font-family: gilroybold;

    }

    #pr-page h2 {
        padding: 0;
        color: #fff;
        font-size: 3vw;
        font-family: gilroymedium;

    }
}



/* page 5started */

#page5 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
    width: 100%;
    background: #333333;
    gap: 12vh;


}

#page5 h1 {
    padding-left: 2vw;
    color: #fff;
    font-family: gilroybold;
    font-size: 10vw;

}

#mail {
    text-decoration: none;
}

#ig {
    color: #f6ba53;
    text-decoration: none;
}

#linkd {
    color: #51cde7;
    text-decoration: none;

}

#mail:hover {
    text-decoration: line-through;
}

#ig:hover {
    text-decoration: line-through;


}

#linkd:hover {
    text-decoration: line-through;
}

footer {
    height: 7vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: white;
    font-size: 2vw;
}

/* PAGE5 RESPONSIVENESSS */

@media (max-width:600px) {
    #page5 {     
        
        height: 100vh; 
        

    }
    #text{
        position: relative;
        top: 30%;
    }

   

    #page5 h1 {
        padding: 0;
        text-align: center;
        font-size: 10vw;
    }
    footer{
        position: relative;
        top: 60%;
    }

    footer h3 { 
        color: white;
        font-size: 3vw;
        
    }
}    